config/nvim/.netrwbook
config/nvim/.netrwhist
config/nvim/undo/
config/nvim/undo
~/.config/nvim/undo
config/lazygit/state.yml
config/nvim/plugin/packer_compiled.lua

config/.ipynb_checkpoints/Untitled-checkpoint.ipynb
config/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
config/Untitled1.ipynb
config/Untitled.ipynb